.region-label {
    background: transparent;
    border: none;
    box-shadow: none;

    color: #222;
    font-size: 12px;
    font-weight: bold;
    text-align: center;

    text-shadow:
        1px 1px 2px white,
        -1px -1px 2px white,
        1px -1px 2px white,
        -1px 1px 2px white;

    pointer-events: none;
}
.header {
    height: 65px;
    width: 100%;
    background: #5C766D;
    color: white;
    position: relative;
    z-index: 2000;
}

.header-content {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 25px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.home-button {
    color: white;
    text-decoration: none;

    background: rgba(255, 255, 255, 0.15);

    padding: 10px 20px;

    border-radius: 8px;

    font-size: 16px;
    font-weight: bold;

    transition: 0.2s;
}

.home-button:hover {
    background: rgba(255, 255, 255, 0.3);
}
